*{
  margin: 0;
  padding: 0;
    overflow-x: hidden;
}

/* Make each section*/
section{
  width: 100%;
  height: 100vh;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #64D2E5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(25,123,140);
}
