:root{
  --background_image: url(https://downloadhdwallpapers.in/wp-content/uploads/2017/12/PC-Work.jpg);
  --text_color: white;
  --typed-text:	#cb2d3e;
}

#home{
  height: 100vh;
  width: 100vw;
}

#home .img{
  position: absolute;
  z-index: -1;
  height: 100%;
  width:100%;
  background-image: var(--background_image);
  background-size: cover !important;
  background-repeat: no-repeat;
  filter: brightness(50%);
  background-position: center;
}

#home .name_cont{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#home .name_cont .name{
  font-size: 3.5vw;
  color: var(--text_color);
}

#home .name_cont .effects{
  margin-left: 0.5rem;
  font-size: 3.5vw;
  color:var(--typed-text);
}

.cursor{
  width: 0.1vw;
  height: 50px;
  background-color: #ccc;
  margin-left: 0.5rem;
  animation: blink 1s infinite;
}

@keyframes blink{
  0%{background-color: #ccc;}
  49%{background-color: #ccc;}
  50%{background-color: transparent;}
  99%{background-color: transparent;}
  100%{background-color: #ccc;}
}
