/* N O R M A L N A V B A R */
#home .navRow{
position: fixed;
display: flex;
flex-direction: row;
right: 5%;
top: 2%;
transition: 1s;
}

#home .navRow button{
background-color: transparent; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.4vw;
}

#home .navRow button:hover{
  color: #ef473a;
  border-color:#cb2d3e;
}

hr {
  position: absolute;
  width: 100px;
  border-bottom: none;
  border-width:thick;
  transition: .3s ease-in-out;
  color: #ef473a;
  border-color:#ef473a;

  left: 0%;
}

/* C O L U M N N A V B A R */
#home .navCol{
position: fixed;
display: flex;
flex-direction: column;
right: 2%;
top: 40%;
}

#home .navCol div{
  padding: 4px 4px;
  margin: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
}

#home .navCol div:hover{
  background-color: #cb2d3e;
  transform: scale(1.2);
  cursor: pointer;
}
